@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} /*폰트*/
@keyframes text-pop-up-br {
    0% {
      transform: translateY(0) translateX(0);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateY(10px) translateX(10px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  
body {
    font-family: 'Vitro_core';
}
.logo {
    margin-top: -2%;
    font-size: 200%;
}
.logo:hover {
    animation: text-pop-up-br 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.trans {
    float: right;
    margin-bottom: 5px;
}
button {
    font-size: 150%;
    padding: 0;
    border: none;
    background: none;
}
button:hover {
    background-color: aqua;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 10%;
    font-size: 140%;
}
th {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}