<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>GOW</title>
</head>
<body>
    <div class="up">
        <div class="logo">
            <h1>GOW</h1>
        </div>
        <div class="trans">
            <button class="tb">표</button>
            <button class="gr">그래프</button>
        </div>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>날짜</th>
                    <th>시간</th>
                    <th>횟수</th>
                </tr>
            </thead>
            <tbody id="table">

            </tbody>
        </table>
    </div>
    <canvas id="myChart"></canvas>
    <script src="index.js"></script>
</body>

</html>